@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    span {
      font-weight: 600;
    }
  }

  .head {
    display: flex;
    justify-content: center;
  }

  .form {
    background-color: $text-white;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .row {
    width: 100%;
    margin-bottom: 20px;
  }

  .input {
    width: 100%;
    margin-top: 10px;
  }
}

