@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .post {
    margin-bottom: 20px;
  }

  .head {
    display: flex;
    justify-content: center;
  }

  .link {
    color: $text-white;
    background-color: $main-color;
    height: 40px;
    width: 100%;
  }

  .link:hover {
    color: $main-color;
    background-color: $text-white;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }
}

